.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 13px;
    stroke-width: 0px;
    color: #000;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#tree {
    background: #042029;
    /*background: #f6f6f6;*/
    padding: 9.5px;
    font-size: 13px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}